<div class="container">
  
  <app-form-register [titulo_form]="'Formulario de entrada Registre'"  
                  (evento_form1)="onClickBuscarForm($event)"
                  (evento_tProduct)="onClickParams($event)"
                  [productes]="productes"
                  [comboInfo]="comboInfo"
                  [comboLleno]="comboLleno"
                  (canviIdioma)="switchLanguage(language)"
                  (evento_form_afegir)="afegirForm($event)"
                  (item)="item"
  >
  </app-form-register>     

  <app-taula-register [items]="items" 
                  
                  (evento_list_put)="onClickPutList($event)" 
                  (evento_list_delete)="onClickDeleteList($event)"
  >
  </app-taula-register>

  <app-button-taula-register [pagination]="pagination" 
                         (evento_list_pagination)="onClickPagination($event)"
  >
  </app-button-taula-register>

</div>